@font-face {
    font-family: dinomiko;
    src: url(../assets/fonts/dinomiko.otf);
}

* {
    /* outline: 1px solid #000; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: dinomiko, sans-serif;
    font-size: 1.0em;
    font-weight: 600;
    z-index: 1;
}

body {
    background: linear-gradient(to bottom,#BCBCFC, #F2D4E9);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.background-wrap {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background-color: #ffffff1a;
}

.background-wrap div{
    position: absolute;
    z-index: 2;
}

.background-wrap div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: transf-opacity 10s linear infinite;
}

.background-wrap div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: transf-opacity 7s linear infinite;
}

.background-wrap div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: transf-opacity 9s linear infinite;
}

.background-wrap div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: transf-opacity 10s linear infinite;
}

.background-wrap div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: transf-opacity 6s linear infinite;
}

.background-wrap div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: transf-opacity 12s linear infinite;
}

.background-wrap div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: transf-opacity 15s linear infinite;
}

.background-wrap div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: transf-opacity 16s linear infinite;
}

.background-wrap div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: transf-opacity 9s linear infinite;
}

.background-wrap div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: transf-opacity 5s linear infinite;
}

.background-wrap div:nth-child(11) {
    top: 15%;
    left: 20%;
    animation: transf-opacity 3s linear infinite;
}

.background-wrap div:nth-child(12) {
    top: 80%;
    left: 40%;
    animation: transf-opacity 4s linear infinite;
}

.background-wrap div:nth-child(13) {
    top: 50%;
    left: 60%;
    animation: transf-opacity 5s linear infinite;
}

.background-wrap div:nth-child(14) {
    top: 90%;
    left: 80%;
    animation: transf-opacity 6s linear infinite;
}

.background-wrap div:nth-child(15) {
    top: 50%;
    left: 30%;
    animation: transf-opacity 7s linear infinite;
}

.background-wrap div:nth-child(16) {
    top: 40%;
    left: 50%;
    animation: transf-opacity 8s linear infinite;
}

.background-wrap div:nth-child(17) {
    top: 50%;
    left: 70%;
    animation: transf-opacity 9s linear infinite;
}

.background-wrap div:nth-child(18) {
    top: 30%;
    left: 90%;
    animation: transf-opacity 10s linear infinite;
}

.background-wrap div:nth-child(19) {
    top: 40%;
    left: 10%;
    animation: transf-opacity 11s linear infinite;
}

.background-wrap div:nth-child(20) {
    top: 70%;
    left: 95%;
    animation: transf-opacity 12s linear infinite;
}

.star svg {
    width: 3em;
    height: 3em;
    color: white;
    text-shadow: 1px 0 #000;
}

.title-img {
    background-image: url(../assets/img/mainlogo.png);
    width: 1024px;
    height: 266px;
    transform: scale(0.4);
    z-index: 3;
}

.content {
    width: 90vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.404);
    border: solid 4px #313131cc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    z-index: 3;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    width: 400px;
    z-index: 3;
}

.user-input, .password-input {
    border: 15px 15px #000;
    box-shadow: 1px 1px #000,
                -1px -1px #000;
    width: 100%;
    padding: 0 10px;
    height: 2.5em;
    border-radius: 15px;
    z-index: 3;
}

.user-label {
    z-index: 3;
}

.buttons {
    display: flex;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 400px;
}

.button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: dinomiko, sans-serif;
    text-shadow: 2px 2px #000;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: 50%;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 6px 6px #000;
    overflow: visible;
    transform: translate(1px, 1px);
    transition: box-shadow .3s ease ;
    z-index: 3;
}

.button:hover {
    position: relative;
    box-shadow: none;
    transform: translate(0, 0);
}

.button:active {
    background-color: #ffdeda;
    outline: 0;
    z-index: 3;
}

.button:hover {
    outline: 0;
    z-index: 3;
}

footer {
    z-index: 3;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}

@media screen and (min-width: 576px) {
    .title-img {
        transform: scale(0.5);
    }
}

@media screen and (min-width: 768px) {
    .title-img {
        transform: scale(0.7);
    }
}

@media screen and (min-width: 992px) {
    .title-img {
        transform: scale(1);
    }

    .content {
        width: 90vw;
        height: 90vh;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        width: 1100px;
        height: 800px;
    }
}

@media screen and (min-width: 1400px) {
    /* .content {
        width: 900px;
    } */
}

@keyframes transf-opacity {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-50px) rotate(180deg);
        opacity: 0;
    }
}